.test-app-header a, .test-app-header .navbar-burger, .footer .navbar-item, .footer ul{
  color: DodgerBlue;
}

.test-app-header a:hover, .test-app-header .navbar-burger:hover, .footer .navbar-item:hover{
  color: white;
  background-color: DodgerBlue;
  background-color: rgb(204, 241, 255);
}

.navbar-menu{
  background-color: hsl(0, 0%, 21%);
}
.Login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginBox {
    margin-top: 8rem;
    width: 350px;
    height: 300px;
    background-color: rgb(204, 241, 255);
    padding: 20px;
    border-radius: 10px;
}
.LoginBox:hover{
    background-color: rgb(200, 230, 255);
}
.LoginHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
}
.inputs{
    padding: 20px;
}
.email{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-width: 1;
    margin-bottom: 20px;
}
.password{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-width: 1;
}
.submitbutton{
    width: 100px;
    height: 40px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-color: rgb(204, 241, 255);
    cursor: pointer;
    position:relative;
    right: 225px;
    top:175px;
    background-color: rgb(87, 154, 190);
}
.confirmPassword{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-width: 1;
    margin-bottom: 20px;
}
